---
import Title from '../components/common/Title.astro'
import Button from './common/Button.astro';
---

<section id="apropos" class="h-full text-justify md:text-center flex flex-col justify-center items-center">
	<Title title="A propos"/>
	<div class="text-lg mb-16 px-10 lg:px-24">
		<p>Bienvenue sur mon portfolio ! Je m'appelle Elisa Klein et je suis <strong>développeuse Web junior </strong>dans le secteur du <strong>Mans</strong>.</p><br>
		<p>Auparavant, j'ai effectué une formation en alternance en tant qu'assistante chef de projet industrielle ainsi que des années d'intérim de pilote de ligne de production. Cela m'a permis d'acquérir des compétences telles que l'organisation et la gestion de projet.</p><br>
		<p>Ayant développé un premier site web avec Wordpress, je me suis fortement intérresée au domaine du développement. Ainsi en 2016, j'ai décidé d'effectuer une reconversion professionnelle en suivant la formation en alternance de <strong>Concepteur Développeur d'Application (Bac +3/4)</strong> sur 3 ans. J'ai par la suite, j'ai suivi la formation <strong>Développeur d'Application PHP/Symfony</strong> avec OpenClassRooms. Dotée de bases solides pour le Front-end et le Back-end, vous découvrirez dans ce portfolio mes compétences et les différents projets réalisés.</p>
	</div>
	<Button link="#portfolio" title="Mes projets">
</section>