---
import Button from "./common/Button.astro";
---
<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-md py-2 md:py-4 bg-green-light dark:bg-gray-800 sticky top-0 inset-x-0 ">
  <nav class="w-full mx-auto px-4 lg:px-16 md:flex md:items-center sm-justify-between" aria-label="Global">
    <div class="flex items-center justify-between">
      <a href="/" class="flex-none">
        <img
          src="img/logo.png"
          class="w-10 md:w-16 h-auto"
          alt="Elisa Klein Logo"
        />
      </a>
      <div class="md:hidden">
        <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md font-medium text-green-dark align-middle transition-all text-lg dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" data-hs-collapse="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden w-8 h-8" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg class="hs-collapse-open:block hidden w-8 h-8" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
    </div>
    <div id="navbar-collapse" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block ">
      <div class="flex flex-col gap-5 mt-5 md:flex-row md:items-center md:justify-end md:mt-0 md:pl-5">
        <div data-hs-scrollspy="#main" class="flex flex-col gap-5 mt-5 md:flex-row md:items-center md:justify-end md:mt-0 md:pl-5 ">
          <a href="#apropos" class="font-bold text-green-dark uppercase hover:text-red-dark hs-scrollspy-active:text-red-dark dark:hs-scrollspy-active:text-red-dark">A propos</a>
          <a href="#competences" class="font-bold text-green-dark uppercase hover:text-red-dark hs-scrollspy-active:text-red-dark dark:hs-scrollspy-active:text-red-dark">Compétences</a>
          <a href="#portfolio" class="font-bold text-green-dark uppercase hover:text-red-dark hs-scrollspy-active:text-red-dark dark:hs-scrollspy-active:text-red-dark">Portfolio</a>
          <a href="#contact" class="font-bold text-green-dark uppercase hover:text-red-dark hs-scrollspy-active:text-red-dark dark:hs-scrollspy-active:text-red-dark">Contact</a>
        </div>
         <a class="py-3 px-4 w-max inline-flex justify-center items-center gap-2 rounded-full border border-transparent font-semibold bg-red-dark text-white uppercase hover:bg-red-light focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" href="/docs/CV-Elisa-Klein-Developpeur-Web.pdf" target="blank">Mon CV</a>
      </div>

    </div>
  </nav>
</header>
