---
import Title from "./common/Title.astro";
import Button from "./common/Button.astro";
---

<section id="competences" class="text-center h-full flex flex-col justify-center items-center">
	<Title title="mes compétences"/>
		<div class="w-full lg:px-0 grid grid-cols-3 lg:grid-cols-6 gap-6 lg:gap-16 items-center justify-items-center mb-8">
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-solid fa-database hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				MySQL
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-php hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				PHP
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-symfony hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				Symfony
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<img src="/img/skills/api-platform.png" alt="api platform" class="hs-tooltip-toggle w-16 lg:w-28">
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				API Platform
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-wordpress hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				Wordpress
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-github hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				Github
    			</span>
			</div>
		</div>
		<div class="w-full lg:px-0 grid grid-cols-3 lg:grid-cols-6 gap-6 lg:gap-16 items-center justify-items-center mb-8 ">
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-html5 hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				HTML
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-css3-alt hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				CSS
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-bootstrap hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				Bootstrap
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-square-js hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				Javascript
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<img src="/img/skills/jquery.png" alt="jquery" class="hs-tooltip-toggle w-16 lg:w-24">
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				jQuery
    			</span>
			</div>
			<div data-aos="fade-zoom-in"
              data-aos-delay="50"
              data-aos-duration="1000" class="hs-tooltip inline-block [--placement:bottom]">
				<i class="fa-brands fa-react hs-tooltip-toggle text-6xl lg:text-8xl" style="color: #75826a;"></i>
				<span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-green-dark text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
      				ReactJS
    			</span>
			</div>
		</div>
		<div class="text-green-dark dark:text-white text-lg leading-10 mb-16 px-10">
			<p>Maquettage, Conception Graphique, Responsive Design, UI/UX Design</p>
			<p>Visual Studio, PHPStorm</p>
			<p>Lunacy, Adobe XD, Adobe Photoshop, Adobe After Effects</p>
		</div>
		 <a
              class="py-3 px-4 w-max inline-flex justify-center items-center gap-2 rounded-full border border-transparent font-semibold bg-red-dark text-white uppercase hover:bg-red-light focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              href="/docs/CV-Elisa-Klein-Developpeur-Web.pdf"
              target="blank"
            >
              Mon CV
            </a>
</section>