---

---
<div id="social-media" class="fixed left-6 lg:left-16 top-30 flex-col items-center gap-2 hidden md:flex">

	<hr class="h-96 w-1 my-2 bg-red-light border-0 dark:bg-gray-700">
	<a href="https://github.com/Elisa-K">
		<i class="fa-brands fa-github text-4xl" style="color: #40513B;"></i>
	<a href="https://www.linkedin.com/in/elisa-klein/">
		<i class="fa-brands fa-linkedin text-4xl" style="color: #40513B;"></i>
	</a>
</div>