---
const {title, link} = Astro.props
---

<a class="py-3 px-4 w-max inline-flex justify-center items-center gap-2 rounded-full border border-transparent font-semibold bg-red-dark text-white uppercase hover:bg-red-light focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" href={link}>{title}</a>